.carousel {
    overflow: hidden;
}
.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    flex-shrink: 0;
    /* object-fit: cover; */
    /* overflow: hidden; */
}

.page-indicator.active {
    background-color: white;
}
